<!DOCTYPE html>

<html>

    <head>
        <title>About</title>

    </head>

    <body>
    {% extends 'rango/base.html' %}

    {% load staticfiles %}

    {% block title %}RANGO{% endblock %}

    {% block body_block %}

        <h1>Rango says...</h1>

        <div>
            here is the about page <br />

        </div>
        <br> <br>

        	<p>This tutorial has been put together by Javier Encinas Cortes & Victor Garcia-Bermejo
               <div>
            <br/>
            <img src="/media/cat.jpg"
        	alt="Picture of Cat"/>
        </div>
    {% endblock %}
    </body>

</html>
