<!DOCTYPE html>
  <html>
     <head>
         <title>Rango</title>
     </head>

     <body>
        {% extends 'rango/base.html' %}

        {% load staticfiles %}

        {% block title %}{{ category.name }}{% endblock %}

        {% block body_block %}
         <h1>Add a Pages</h1>
         <div>
             <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
                {% if category %}
                     {% csrf_token %}
                     {% for hidden in form.hidden_fields %}
                         {{ hidden }}
                     {% endfor %}
                     {% for field in form.visible_fields %}
                         {{ field.errors }}
                         {{ field.help_text }}
                         {{ field }}
                     {% endfor %}
                    <input type="submit" name="submit" value="Create page" />
                {% else %}
                    A category by this name does not exist 
                {% endif %}.
             </form>
         </div>
     {% endblock %}    
     </body>
 </html>
