<!DOCTYPE html>

<html>
    <head>
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>

    <body>
    
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
        <ul>
            <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'index' %}">Rango Homepage</a></li>
            </ul>
        </div>
    </body>
</html>
