 <!DOCTYPE html>
 <html>
 <head>
     <title>Rango</title>
 </head>
 <body>
     <div>
        {% extends 'rango/base.html' %}

        {% load staticfiles %}

        {% block title %}{{ category.name }}{% endblock %}

        {% block body_block %}
            <h1>{{ category.name }}</h1>
            {% if category %}
                {% if pages %}
                <ul>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                </ul>
                {% else %}
                        <strong>No pages currently in category.</strong>
                {% endif %}

                    <a href="{% url 'add_page' category.slug%}">Add a Page</a>

                {% else %}
                         The specified category {{ category_name }} does not exist!
                {% endif %}

        {% endblock %}    
    </div>
 </body>
 </html>
