<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
</head>

<body>    
    {% extends 'rango/base.html' %}

    {% load staticfiles %}

    {% block title %}RANGO{% endblock %}

    {% block body_block %}

        <h1>Rango says...</h1>
        <div><h1>Most Liked Categories</h1></div>
        <div>
        {% if categories %}
        <ul>
            <!--{% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}-->
            {% for category in categories %}
                <li><a href="{% url 'show_category'  category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>
        <div><h1>Most Viewed Pages</h1></div>
        <div>
        {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
        </div>
        <div>
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
    {% endblock %}
</body>
</html>
